
:root {
	--color: #243746;
	--color-primary: #158876;
	--color-secondary: #0e2233;
	--bg: #F5F5F5;
	--bg-secondary: #fff;
	--border-color: #ddd;
	$progress-border-radius: 0px;
}

.dark-mode {
	--color: #ebf4f1;
	--color-primary: #41b38a;
	--color-secondary: #fdf9f3;
	--bg: #535e66;
	--bg-secondary: #5c6671;
	--border-color: #0d2538;

	.footer {
		background-color: #5c6671;
		color: #ebf4f1;
	}

	strong {
		color: #fff;
		font-weight: bolder !important;
	}

	.block-score, .section-score{
		fill: #ebf4f1;
		color: #ebf4f1;
		background-color: #5c6671 !important;

		a {
			color: #81c8d2;
		}

		.title, .subtitle, .label, .bb-chart-arcs-title,
		.bb-chart-arcs .bb-chart-arcs-gauge-min, .bb-chart-arcs .bb-chart-arcs-gauge-max,
		.bb-chart-arc .bb-gauge-value, .bb text, .bb .bb-button {
			color: #ebf4f1;
			fill: #ebf4f1;
		}

		.bb-chart-arc path {
			stroke: none;
		}

	}
	.block-title{
		color: #ebf4f1 !important;
		background-color: #535e66 !important;
	}

	.markdown-body {
		.hljs {
			color: #000 !important;
		}

		.hljs-fallback {
			background-color: #525b66;
			color: #FFF;
		}

		a {
			color: #9ecdf0 !important;
		}

		h1, h2 {
			border-bottom: 1px solid #8f97a2 !important;
		}

		p> code, p> a> code, li> code {
			color: #8dcdf0 !important;
			background-color: #535E66 !important;
		}

		table {
			tr, th, td {
				background-color: #5c6671 !important;
				border: 1px solid #4a4a4a !important;
			}

			td > code {
				color: #6abaf4 !important;
			}

			th, td, td> strong {
				color: #ebf4f1 !important;
			}


			tr:nth-child(2n) {
				background-color: #535e66 !important;
			}
		}
	}
}

.sepia-mode {
	--color: #433422;
	--color-primary: #EABB8A;
	--color-secondary: #504231;
	--bg: #f1e7d0;
	--bg-secondary: #eae0c9;
	--border-color: #ded0bf;

	.footer {
		background-color: #F7EFDC;
		color: #433422;
	}

	.tag {
		background-color: #f7efdc !important;
	}

	.markdown-body {
		a {
			color: #da1039 !important;
		}

		.hljs-fallback{
			background-color: #f1e7d0;
		}

		table {
			td, th {
				border: 1px solid #c8bfac;
			}
			tr {
				border: 1px solid #c8bfac;
				background-color: #f2e9d5;
			}
			tr:nth-child(2n) {
				background-color: #f0e2c4 !important;
			}
		}

	}


	.block-score, .section-score{
		background-color: #F7EFDC !important;

		.bb-chart-arc path {
			stroke: none;
			fill: #EABB8A !important;
		}

		#donutChart {
			.bb-chart-arc path {
				stroke: none;
				fill: #f7efdc !important;
			}

			.bb-shape.bb-arc.bb-arc-Score {
				stroke: none;
				fill: #EABB8A !important;
			}
		}

		.bb-chart-arcs .bb-chart-arcs-background {
			fill: #f2e5c5 !important;
			stroke: none;
		}
	}
	.block-title{
		// color: #f1e7d0 !important;
		background-color: #f1e7d0 !important;


		progress {
			//border: 1px solid #EABB8A !important;
			background: #f7efdc !important;
		}

		progress::-moz-progress-bar {
			background: #EABB8A !important;
		}

		progress::-webkit-progress-value {
			background: #EABB8A !important;
		}

		progress::-webkit-progress-bar {
			background: #f7efdc;
		}

/*
		.progress {
			background-color: #f7efdc;
		}

		progress, progress::-webkit-progress-bar, progress::-webkit-progress-value, progress::-moz-progress-bar {
			background-color: #EABB8A;
		}
*/

	}
}

.contrast-mode {
	$primary: #363636;

	--color: $primary;
	--color-primary: $primary;
	--color-secondary: $primary;
	--bg: #FFF;
	--bg-secondary: #FFF;
	--border-color: $primary;

	.footer {
		background-color: #fff;
		color: $primary;
	}

	.tabs {
		li.is-active a {
			color: $primary;
			border-color: $primary !important;

		}

		a:hover {
			color: #FFF !important;
			background-color: $primary !important;
		}

		ul {
			border-bottom-color: $primary;
		}
	}
	.b-tabs .tab-content {
		background-color: #fff;
		border: 1px solid $primary;
		border-top: none;
	}


	.bb-chart-arc path,
	.bb path, .bb line {
		stroke: $primary !important;
	}

	.main-content-score {
		border-left: 1px solid $primary;
		border-right: 1px solid $primary;
	}

	.block-score, .section-score{
		fill: $primary;
		color: $primary;
		background-color: #FFF !important;

		a {
			color: $primary;
		}

		.title, .subtitle, .label, .bb-chart-arcs-title,
		.bb-chart-arcs .bb-chart-arcs-gauge-min, .bb-chart-arcs .bb-chart-arcs-gauge-max,
		.bb-chart-arc .bb-gauge-value, .bb text, .bb .bb-button {
			color: $primary;
			fill: $primary;
		}

		.bb-chart-arc path {
			stroke: $primary;
			fill: $primary !important;
		}

		#donutChart {
			.bb-chart-arc path {
				stroke: $primary;
				fill: #FFF !important;
			}

			.bb-shape.bb-arc.bb-arc-Score {
				stroke: $primary;
				fill: $primary !important;
			}
		}

		.bb-chart-arcs .bb-chart-arcs-background {
			fill: #FFF !important;
			stroke: $primary;
		}

	}

	.block-title{
		color: $primary !important;
		background-color: #FFF !important;
		border: 1px solid $primary;
		border-top: 0px;

		progress {
			border: 1px solid $primary !important;
			background: #ffffff !important;
		}

		progress::-moz-progress-bar {
			background: $primary !important;
		}

		progress::-webkit-progress-value {
			background: $primary !important;
		}

		progress::-webkit-progress-bar {
			background: #FFF;
		}

	}

	.markdown-body {
		color: $primary !important;

		img {
			filter: grayscale(100%) contrast(150%);
		}

		th, td, code, pre {
			border: 1px solid $primary;
			background-color: #FFF;
			color: $primary !important;
		}

		.markdown-body h1, .markdown-body h2 {
			border-bottom: 1px solid $primary !important;
		}

		.hljs, .hljs-fallback {
			border: 1px solid $primary !important;
			background-color: #fff !important;
			color: $primary !important;

			code {
				border: none !important;
			}
		}


		code, .hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class,
		.hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type .hljs-addition,
		.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-literal {
			color: $primary !important;
		}

		a {
			color: $primary !important;
			text-decoration: underline !important;
		}


	}


}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--bg);
	color: var(--color);
	transition: background-color 0.3s;
}

a {
	color: var(--color-primary);
}



.title {
	text-transform: capitalize;
}

.block-score {
	padding: 1rem;
	padding-bottom: 2rem;
}

.block-title {
	padding: 1rem;
	background-color: #F5F5F5;
	border-radius: 0px 0px 5px 5px;
}

.section-score {
	padding: 0rem 1.5rem !important;
	background-color: #FAFAFA;
	min-height: 100vh;
	/* padding-bottom: 60px !important; */
}


.markdown-body{
	min-height: 70vh;
	max-width: 960px;
}

.field-label {
	min-width: 100px;
}

a.dropdown-item, .dropdown .dropdown-menu .has-link a, button.dropdown-item {
    padding-right: 1rem !important;
}

.dropdown-content {
	/* background-color: #f9f9f9; */
	/* border-radius: 4px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02); */
	padding-bottom: 0rem !important;
	padding-top: 0rem !important;
}


.b-sidebar .sidebar-content .menu-list a.is-active,
.menu-n-link.nuxt-link-exact-active.nuxt-link-active {
	background-color: #363636 !important;
	color: #d7d7d7 !important;
	box-shadow: -50px 0px 0px -22px #1ca5b8  !important;
}

.b-sidebar .sidebar-content .menu-list a.is-active:hover {
	background-color: #4D4D4D !important;
	color: #d7d7d7 !important;
}


.b-sidebar .sidebar-content .menu-bottom .menu-list a.is-active {
	box-shadow: none !important;
}

.progress {
	border-radius: 2px !important;
	height: 18px !important;
}


.final-score .bb-chart-arc path,
.final-score .bb path, .final-score .bb line {
	stroke: none;
}

.modal-background {
	background-color: rgba(0, 0, 0, 0.7) !important;
	z-index: 25;
}
.modal-content {
	box-shadow: 3px 3px 7px #2d2d2d;;
	z-index: 30;
}

.footer {
	padding: 2rem !important;
}


.markdown-body > h1{
	margin-top: 0px !important;
}


.li-dep {
    padding: 1px 10px;

	a {
		color: #243746;

		&:hover {
			text-decoration: underline;
		}
	}
}


.b-tabs .tab-content {
	background-color: white;
	border: 1px solid #ebebeb;
	border-top: none;
}
