
:root {
	--color: #243746;
	--color-primary: #158876;
	--color-secondary: #0e2233;
	--bg: #F5F5F5;
	--bg-secondary: #fff;
	--border-color: #ddd;
	$progress-border-radius: 0px;
}

.dark-mode {
	--color: #ebf4f1;
	--color-primary: #41b38a;
	--color-secondary: #fdf9f3;
	--bg: #535e66;
	--bg-secondary: #5c6671;
	--border-color: #0d2538;

	.block-score, .section{
		fill: #ebf4f1;
		color: #ebf4f1;
		background-color: #5c6671 !important;

		.title, .subtitle, .label, .bb-chart-arcs-title,
		.bb-chart-arcs .bb-chart-arcs-gauge-min, .bb-chart-arcs .bb-chart-arcs-gauge-max,
		.bb-chart-arc .bb-gauge-value, .bb text, .bb .bb-button {
			color: #ebf4f1;
			fill: #ebf4f1;
		}

		.bb-chart-arc path {
			stroke: none;
		}

	}
	.block-title{
		color: #ebf4f1 !important;
		background-color: #535e66 !important;
	}

	.markdown-body {
		.hljs {
			color: #000 !important;
			// code {
			// 	color: red !important;
			// 	background-color: #535E66 !important;
			// }
		}

		a {
			color: #9ecdf0 !important;

		}

		/*th, td {
			color: blue !important;
			background-color: red !important;
		}*/
		table {
			tr, th, td {
				background-color: #5c6671 !important;
				border: 1px solid #4a4a4a !important;
			}

			td > code {
				color: #6abaf4 !important;
			}

			th, td, td> strong {
				color: #ebf4f1 !important;
			}


			tr:nth-child(2n) {
				background-color: #535e66 !important;
			}
		}

		p> code, p> a> code {
			color: #6abaf4 !important;
			background-color: #535E66 !important;
		}

		h1, h2 {
			border-bottom: 1px solid #000 !important;
		}

	}

}

.sepia-mode {
	--color: #433422;
	--color-primary: #EABB8A;
	--color-secondary: #504231;
	--bg: #f1e7d0;
	--bg-secondary: #eae0c9;
	--border-color: #ded0bf;


	.block-score, .section{
		background-color: #F7EFDC !important;

		.bb-chart-arc path {
			stroke: none;
			fill: #EABB8A !important;
		}

		#donutChart {
			.bb-chart-arc path {
				stroke: none;
				fill: #ece5d4 !important;
			}

			.bb-shape.bb-arc.bb-arc-Score {
				stroke: none;
				fill: #EABB8A !important;
			}
		}

		.bb-chart-arcs .bb-chart-arcs-background {
			fill: #ece5d4 !important;
			stroke: none;
		}
	}
	.block-title{
		// color: #f1e7d0 !important;
		background-color: #f1e7d0 !important;


		progress {
			//border: 1px solid #EABB8A !important;
			background: #f7efdc !important;
		}

		progress::-moz-progress-bar {
			background: #EABB8A !important;
		}

		progress::-webkit-progress-value {
			background: #EABB8A !important;
		}

		progress::-webkit-progress-bar {
			background: #f7efdc;
		}

/*
		.progress {
			background-color: #f7efdc;
		}

		progress, progress::-webkit-progress-bar, progress::-webkit-progress-value, progress::-moz-progress-bar {
			background-color: #EABB8A;
		}
*/

	}
}

.contrast-mode {
	--color: #363636;
	--color-primary: #363636;
	--color-secondary: #363636;
	--bg: #FFF;
	--bg-secondary: #FFF;
	--border-color: #363636;

	$primary: #363636;

	.main-content-score {
		border-left: 1px solid #363636;
		border-right: 1px solid #363636;
	}

	.block-score, .section{
		fill: #363636;
		color: #363636;
		background-color: #FFF !important;

		.title, .subtitle, .label, .bb-chart-arcs-title,
		.bb-chart-arcs .bb-chart-arcs-gauge-min, .bb-chart-arcs .bb-chart-arcs-gauge-max,
		.bb-chart-arc .bb-gauge-value, .bb text, .bb .bb-button {
			color: #363636;
			fill: #363636;
		}

		.bb-chart-arc path {
			stroke: #363636;
			fill: #363636 !important;
		}

		#donutChart {
			.bb-chart-arc path {
				stroke: #363636;
				fill: #FFF !important;
			}

			.bb-shape.bb-arc.bb-arc-Score {
				stroke: #363636;
				fill: #363636 !important;
			}
		}

		.bb-chart-arcs .bb-chart-arcs-background {
			fill: #FFF !important;
			stroke: #363636;
		}

	}

	.block-title{
		color: #363636 !important;
		background-color: #FFF !important;
		border: 1px solid #363636;
		border-top: 0px;

		progress {
			border: 1px solid #363636 !important;
			background: #ffffff !important;
		}

		progress::-moz-progress-bar {
			background: #363636 !important;
		}

		progress::-webkit-progress-value {
			background: #363636 !important;
		}

		progress::-webkit-progress-bar {
			background: #FFF;
		}

	}

	.markdown-body {
		color: #363636 !important;

		img {
			filter: grayscale(100%) contrast(150%);
		}

		.hljs {
			border: 1px solid #363636 !important;
			background-color: #fff !important;
			color: #363636 !important;
			code {
				border: none !important;
			}
		}

		code, .hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class,
		.hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type .hljs-addition,
		.hljs-built_in, .hljs-bullet, .hljs-code, .hljs-literal {
			color: #363636 !important;
		}

		a {
			color: #363636 !important;
			text-decoration: underline !important;
		}

		th, td, code {
			border: 1px solid #363636 !important;
			background-color: #FFF;
			color: #363636 !important;
		}

		.markdown-body h1, .markdown-body h2 {
			border-bottom: 1px solid #363636 !important;
		}

	}


}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--bg);
	color: var(--color);
	transition: background-color 0.3s;
}

a {
	color: var(--color-primary);
}


.field-label {
	min-width: 100px;
}

a.dropdown-item, .dropdown .dropdown-menu .has-link a, button.dropdown-item {
    padding-right: 1rem !important;
}

.dropdown-content {
	/* background-color: #f9f9f9; */
	/* border-radius: 4px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02); */
	padding-bottom: 0rem !important;
	padding-top: 0rem !important;
}


.b-sidebar .sidebar-content .menu-list a.is-active,
.menu-n-link.nuxt-link-exact-active.nuxt-link-active {
	background-color: #363636 !important;
	color: #d7d7d7 !important;
	box-shadow: -50px 0px 0px -22px #1ca5b8  !important;
}

.b-sidebar .sidebar-content .menu-list a.is-active:hover {
	background-color: #4D4D4D !important;
	color: #d7d7d7 !important;
}

.b-sidebar .sidebar-content .menu-bottom .menu-list a.is-active {
	box-shadow: none !important;
}

.progress {
    border-radius: 2px !important;
}

